  body{
            background-color: black;
            margin: 0px;
        }
        form{
            color: white;
            border: 1px solid green;
            border-radius: 35px;
            height: 740px;
            width: 400px;
            margin: 2% 15%;
        }
        h1{
            color: green;
            font-size: xx-large;
            margin-left: 100px;
        }
        
        input,label{
            width: 250px;
            height: 30px;
            border-radius: 30px;
            margin-left: 60px;
            margin-top: 5px;
        }
        p{
            margin-left: 30px;
        }
        img{
            margin-left: 105px;
            
        }
        #file{
            margin-left: 100px;
            border-radius: 50px;
            width: 70%;
            
        }
        h4,button{
            margin-left: 20%;
            
        }